.event-info-container {
  margin: 2% 5%;
  .go-back {
    margin-bottom: 3%;
  }
  
  .event-crud {
    display:flex;
    > * {
      margin: auto 0.2rem;
    }
  }
  .event-info {
    margin-top: 2%;
    border: 1px solid gray;
    padding: 2%;
    width: 80%;
    h2 {
      font-size: 2rem;
    }
  }
  .guests {
    margin-top: 2%;
    h3 {
      font-size: 1.5rem;
    }
    .guest-card-container {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      justify-content: space-between;
    }
  }
}