@import '../../../App.scss';

.welcome-container {
    display:flex;
    section {
        width: 50%;
        height: 100%;
    }

    .description {
        h2 {
            font-size: 2.2rem;
        }
        padding: 1% 7% 7% 7%;
        line-height: 2;
    }
}