@import '../../../App.scss';

.login-page-container {
    width: 70%;
    margin: auto;
    padding-top:3%;
    .alert {
        width: 30%;
        margin: auto;
        margin-bottom: 1%;
    }
    form {
        width: 20%;
        margin: auto;
        button {
            width: 100%;
        }
    }
}